/*// X-Small devices (portrait phones, less than 576px)*/
@media (min-width: 320px) and (max-width: 575px) {
    /*    header part responsive code start*/
    .sticky {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: rgb(213, 202, 219);
        padding: 1rem 0;
        box-shadow: 0 0.3rem rgb(84, 115, 202);
        z-index: 9999;
      }
      .navbar-light .navbar-toggler {
        color: rgba(0,0,0,.55);
        border-color: rgba(0,0,0,.1);
        margin-right: 3rem;
    }
    a.navbar-brand {
        margin-left: 3rem;
    }
    .banner-overlay h1 {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 5rem;
        font-weight: 700;
        color: #31d7ce;
    }
        
    .me-auto1 {
        margin-left: 6rem;
        text-align: center;
    }
    .foot-body  a {
        padding: 1rem 4rem;
        margin-left: 34rem;
        margin: -12rem -12rem  0 22rem;
        color: white;
        border: .1rem solid #169cf3;
    }
    
    
    .foot-body .foot-input input {
        height: 6rem;
        width: 35.5rem;
        display: flex;
        margin: 3rem 0;
    }
    }
    
    /*// Small devices (landscape phones, less than 768px)*/
    @media (min-width: 576px) and (max-width: 767px) { 
        .sticky {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            background: rgb(213, 202, 219);
            padding: 1rem 0;
            box-shadow: 0 0.3rem rgb(84, 115, 202);
            z-index: 9999;
          }
          .navbar-light .navbar-toggler {
            color: rgba(0,0,0,.55);
            border-color: rgba(0,0,0,.1);
            margin-right: 6rem;
        }
        a.navbar-brand {
            margin-left: 4rem;
        }
            
            
            
            
            
            
            
            
    }
    
    /*// Medium devices (tablets, less than 992px)*/
    @media (min-width: 768px) and (max-width: 991px) { 
        .sticky {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            background: rgb(213, 202, 219);
            padding: 1rem 0;
            box-shadow: 0 0.3rem rgb(84, 115, 202);
            z-index: 9999;
          }
          .navbar-light .navbar-toggler {
            color: rgba(0,0,0,.55);
            border-color: rgba(0,0,0,.1);
            margin-right: 8rem;
        }
        a.navbar-brand {
            margin-left: 6rem;
        }
        .me-auto1 {
            margin-left: 6rem;
            text-align: center;
        }
      


        .col-lg-4 {
            flex: 0 0 auto;
            width: 45%;
            padding:0 .5rem
        }
    }
    
    /*// Large devices (desktops, less than 1200px)*/
    @media (min-width: 992px) and (max-width: 1199px) { ... }
    
    /*// X-Large devices (large desktops, less than 1400px)*/
    @media (min-width: 1200px) and (max-width: 1399px) { ... }
    
    /*// XX-Large devices (larger desktops)*/
    @media (min-width: 1400px) { ... }
    /*// No media query since the xxl breakpoint has no upper bound on its width*/